<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleAddWord.css">
    <link rel="stylesheet" href="../style.css">
    <title>Guess The Word</title>
</head>
<body>
    <div class="container">
        <div class="container-logo">
            <img class="logo" src="../assets/img/logo/logo.svg" alt="logo" height="48" width="32" />
        </div>
                       
        <div class="textarea-input">
            <textarea placeholder="Ingrese el texto aqui"  name="mensaje" id="mensaje" cols="30" rows="10"></textarea>
            <div class="aviso">
                 <img src="../assets/img/antecion.svg" alt="aviso">
                  Max 8 leters
            </div>
            <div class="container-btn">
                <button class="btn" onclick="addWord()" >Add Word & Start Game</button>
                <button class="btn" onclick="backToHome()">Back To Home</button>
    
            </div>
        </div>
        <section class="modal">
            <div class="modal-container">
                <h2 class="modal-titulo"></h2>
                <button onclick="newGame()" class="btn game">Try Again</button>
                <button onclick="backToHome()" class=" btn exit">Back to Home</button>
                <!-- <a href="#" class="cerrar_modal">X</a> -->
            </div>
        </section>

    </div>
 

    <script src="../scripts/app.js"></script>
 
    
</body>
</html>