<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleHome.css">
    <link rel="stylesheet" href="../style.css">
    <title>Guess The Word</title>
</head>
<body>
    <header class="container-img-logo">
        
        <img src="../assets/img/logo/logo.svg" alt="logo">
        
    </header>
    <section>
        <div class="constainer-btn">
            <button onclick="startGame()" class="btn start">
                Start Game
            </button>
            <button class="btn addWord" onclick="addWord()">
                Add Word
            </button>
    
        </div>

    </section>


   
    <script src="../scripts/home.js"></script>  
   

</body>
</html>